<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <img src="images/akmal.png" alt="profile akmalluthfi" class="img-thumbail rounded-circle" width="200">
      <h1 class="display-4">Akmal Luthfi</h1>
      <p class="lead">Web Developer</p>
    </div>
  </div>
</div>